dj-rest-auth
Django
django-allauth
django-cors-headers
djangorestframework
djangorestframework-simplejwt
gunicorn
oauthlib
packaging
psycopg2-binary
py
pyasn1
PyJWT

requests
requests-oauthlib

uvicorn
uvloop
websockets
