[Unit]
Description=uWSGI service
After=syslog.target

[Service]
ExecStart=/root/team2-BE/venv/bin/uwsgi -i /root/team2-BE/uwsgi.ini

Restart=always
KillSignal=SIGQUIT
Type=simple
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
