[Unit]
Description=uWSGI service
After=syslog.target

[Service]
ExecStart=/root/team2-BE/project/bin/uwsgi -i /root/team2-BE/.config/uwsgi/relaystory.ini

Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
